@use 'colors.scss' as *;
@use 'vars.scss' as *;

.call {
	display: flex;
	flex-direction: column;

	align-items: center;

	justify-content: space-between;

	margin-top: $spacing-large;

	gap: $spacing-medium;

	.calls {
		overflow-y: scroll;

		height: 0px;
		width: 20%;

		.typing-indicator {
			display: flex;
			flex-direction: row;

			gap: $spacing-small;

			align-items: center;

			background: $primary;
			border-radius: $border-radius-small;

			padding: $spacing-medium;

			margin: 20px;
			position: relative;

			transition: $transition;
			opacity: 0;

			.dot {
				width: 10px;
				height: 10px;

				border-radius: 50%;

				background: $background;
			}

			.dot:nth-child(1) {
				animation: dot1 1s infinite;
				animation-delay: 0.1s;
			}

			.dot:nth-child(2) {
				animation: dot2 1s infinite;
				animation-delay: 0.2s;
			}

			.dot:nth-child(3) {
				animation: dot3 1s infinite;
				animation-delay: 0.3s;
			}

			@keyframes dot1 {
				0% {
					transform: scale(0%);
				}

				50% {
					transform: scale(100%);
				}

				100% {
					transform: scale(0%);
				}
			}

			@keyframes dot2 {
				0% {
					transform: scale(0%);
				}

				50% {
					transform: scale(100%);
				}

				100% {
					transform: scale(0%);
				}
			}

			@keyframes dot3 {
				0% {
					transform: scale(0%);
				}

				50% {
					transform: scale(100%);
				}

				100% {
					transform: scale(0%);
				}
			}
		}

		.typing-indicator-visible {
			opacity: 1;
		}

		.typing-indicator:after {
			content: ' ';

			position: absolute;

			width: 0;
			height: 0;

			right: 0px;
			left: auto;

			top: auto;
			bottom: -12px;

			border: 15px solid;

			z-index: -1;

			border-color: transparent $primary transparent transparent;
		}

		.bot-typing-indicator:after {
			content: ' ';

			position: absolute;

			width: 0;
			height: 0;

			left: 0px;
			right: auto;

			top: auto;
			bottom: -12px;

			border: 15px solid;

			z-index: -1;

			border-color: transparent transparent transparent $primary;
		}

		.call {
			// width: 100px;

			background: $primary;
			border-radius: $border-radius-small;

			padding: $spacing-medium;

			display: flex;
			flex-direction: column;

			gap: $spacing-medium;

			.content {
				display: flex;
				flex-direction: row;

				align-items: center;

				gap: $spacing-medium;

				.details {
					display: flex;
					flex-direction: column;

					gap: $spacing-small;

					justify-content: center;

					.bar {
						background: $background;

						height: 4px;
						width: 100%;

						border-radius: $border-radius-small;

						.fill {
							background: $border;

							height: 100%;
							width: 0%;
						}
					}

					.controls {
						display: flex;
						flex-direction: row;

						gap: $spacing-small;

						align-items: center;

						.playback-icon {
							cursor: pointer;
						}

						.time {
							font-size: 11pt;
						}
					}
				}
			}
		}
	}

	.actions {
		display: flex;
		flex-direction: row;

		gap: $spacing-medium;

		align-items: center;
		justify-content: center;

		width: 100%;

		margin-top: $spacing-large;

		.record-button {
			cursor: pointer;

			background: $danger;

			color: $background;

			border-radius: 50%;

			padding: $spacing-medium;

			width: 25px;
			height: 25px;
		}

		.record-button-disabled {
			pointer-events: none;

			color: $border;
			background: $text-medium;
		}
	}
}

.call-in-progess {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: center;

	height: 50vh;
}
