$background: white;

$text: black;
$text-medium: #666;
$text-ultra-light: #ccc;
$text-light: white;

$primary: #a9c6fb;
$primary-light: rgba($primary, 0.5);

$border: #333;
$border-light: rgba($border, 0.5);

$danger: #fa274a;
$danger-light: rgba($danger, 0.5);

$success: #85ffac;

$gold: #ffe06e;
